/*global*/
@import "_variables.scss";

body{
    font-family: $font-family;
    background-color: rgb(185, 184, 184) 
}

h1{
    color: $h1color;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 250px;
}

.footercontent{
        background-image: linear-gradient(to right, grey , white);
        width: 100%;
        height: 250px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;

    .logofooter{
        width: 35%;
    }   
    .contactredes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    ul{     
        li{
             a{
                color: black;
                text-decoration: none;
            }
        }
    }

}

/*Index*/

.indexcontainer{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;      
    flex-direction: column;
    align-items: center;

    .parrafo_index{
        color:rgb(0, 0, 0)
    }
    .titulo_index{
        color: rgb(0, 0, 0);
    }
}

.gridcontainer {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 200px 200px;
    justify-content: center;

    .brandimage{
        opacity: 0.5;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    .brandimage:hover{
        opacity: 1;
    }
}

/*Servicios*/

.contenedor{
    display:flex;
    justify-content: space-evenly;
    width: 100%; 
    height: 400px;
}
.card{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Galeria*/



/*Contacto*/
.formcontainer{
    margin: 0 auto 0 auto;
    width: 25%;
    padding: 10px;
    color:rgb(1, 225, 255);
    font-size: 15px;
    border: 2px solid black;
}
.container{
    width: 50%;
    
}

/*Responsive*/

/*Mobile + Devices XS*/
@media only screen and (max-width: 600px){  
    .cajagrid {
        display: grid;
        grid-template-columns: 300px 300px ;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center;
    }
    .logo{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 450px;
        height: 250px;
    }
    .titulo_index{
        color: rgb(0, 0, 0);
        font-size: 25px;
    }
    .parrafo_index{
        color:rgb(0, 0, 0);
        font-size: 15px;
    }
    .contactredes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .tituloservicios{
        font-size: 20px;
    }
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        width: 100%; 
        height: 400px;
    }
    .card{
        display: flex;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 20%;
        border-radius: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
}
/*Mobile landscape + tablet + Devices S*/
@media only screen and (min-width: 600px){  
    .cajagrid {
        display: grid;
        grid-template-columns: 300px 300px ;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center;
    }
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        width: 100%; 
        height: 400px;
    }
    .card{
        display: flex;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 20%;
        border-radius: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
   
}
/*Tablet landscape + Devices M*/
@media only screen and (min-width: 768px){
    .cajagrid {
        display: grid;
        grid-template-columns: 300px 300px ;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center;
    }
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        width: 100%; 
        height: 400px;
    }
    .card{
        display: flex;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 20%;
        border-radius: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    
}
/*Notebooks + Desktop + Devices L*/
@media only screen and (min-width: 992px){
    .cajagrid {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 200px 200px;
        justify-content: center;
    }
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        width: 100%; 
        height: 400px;
    }
    .card{
        display: flex;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 20%;
        border-radius: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
}
/*Tv + Devices XL*/
@media only screen and (min-width: 1200px){  
    .cajagrid {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 200px 200px;
        justify-content: center;
    }
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        width: 100%; 
        height: 400px;
    }
    .card{
        display: flex;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 20%;
        border-radius: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
}